@use '../abstracts/mixins';
@use '../abstracts/variables';

main {
    max-width: $maxWidth;
    margin: 0 auto;
    
    .countries-wrapper {
        @include flexbox-c-c;
        flex-wrap: wrap;
        max-width: $maxWidth;
        margin: 0 auto;
    }


     .country-container {
        border-radius: $borderRadius;
        margin: 4em;
        width: 250px;
        min-height: 170px;
        @include flexbox;
        flex-direction: column;
        box-shadow: $shadow;

        img {
            aspect-ratio: 16/9;
            flex: .15;
        }

        .country-info {
            height: 100%;
            flex: 1;
            padding: 2.7em;

            &:nth-child(1) {
                margin-bottom: 0.7em;
            }

            div {
                margin-top: 1.2em;
                @include grid-center;

                button {
                    height: 4rem;
                }
            }
            
        }
    }
}