@import '../abstracts/variables';
@import '../abstracts/_mixins';

header {
    @include flexbox-c-sb;
    min-height: 6em;
    margin: 0 auto;
    padding: 0 11%;
    box-shadow: $shadow; 

  .dark-mode-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        border: solid 1px gray;
        border-radius: $borderRadius;
        padding: .6rem;
        transition: 0.3s ease-in-out;

        &:hover {
            box-shadow: $shadow; 
        }

        i {
            margin-right: .4em;
        }
    }
}

