@media screen and (max-width: 660px) {
    .search-container {
        margin: 4rem 3rem 1rem !important;
        flex-direction: column;

        .search-box-container {
            justify-content: space-between;
        }
        .drop {
            margin-top: 2rem;
        }
    }

    .country-container {
        width: 80vw !important;
    }
}

@media screen and (max-width: 1000px) {
    .country-main {
        padding: 2rem;

        .back-btn {
            margin-bottom: 2em;
        }

        .container {
            flex-direction: column;
            align-items: center;
            
            .img {
                width: 100%;

                img {
                    width: 100%;
                    max-height: 250px;
                }
            }

            .details-container {
                margin-left: 0;
                width: 100%;

                h2 {
                    text-align: center;
                }
            }
        }
    }
}