@use '../abstracts/variables';

.search-container {
    @include flexbox-c-sb;
    margin: 4rem 8rem 1rem 8rem;

    .search-box-container {
        @include flexbox-c-c;

        .search-box {
            box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02); 
            @include flexbox-c-sb;

            i {
                margin: 0 2em;
            }

            input {
                border: none; 
                height: 3.5rem;
            }
        }

        .clear-search {
            margin-left: 2em;
            cursor: pointer;
        }
    }

        

    .drop {
        box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02); 
        @include flexbox;
        align-items: center;
        height: 3.5rem;
        padding: 0 1,2rem;
        
        select {
            height: 100%;
            border: none;
        }
    }
}

.hidden {
    display: none !important;
}