@use './variables';

//FLEXBOX AND GRID

@mixin flexbox {
    display: flex;
}

@mixin flexbox-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-c {
    display: flex;
    justify-content: center;
}

@mixin flexbox-sb {
    display: flex;
    justify-content: space-between;
}

@mixin flexbox-c-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexbox-c-sa {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin flexbox-sa-sa {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

@mixin grid-center {
    display: grid;
    place-items: center;
} 

@mixin button {
    height: 50px;
    width: 150px;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    border-radius: $borderRadius;
    background-color: hsl(207, 26%, 17%);
    box-shadow: $shadow;
    cursor: pointer;
    transition: $transition;
}